<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Login</title>
  <link rel="stylesheet" href="../styles/index.css">
</head>

<body>

  <div class="container">

    <div class="card">

      <div class="img-logo">
        <img src="../public/img/logo.png" width="150">
      </div>

      <div>
        <h1 style="display: flex; align-items: center; justify-content: space-around; color: black;"> Faça seu login
        </h1>
      </div>

      <label>Login</label>
      <input type="text" id="loginUsuario" placeholder="">

      <label>Senha</label>
      <input type="password" id="senhaUsuario" placeholder="">

      <button class="btn-primary" onclick="logar()">ENTRAR</button>

      <a class="link" href="#">Se está com problemas de conexão, acesse aqui!</a>
    </div>

  </div>
 <script src="renderer.js"></script>
</body>

</html>